.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px #c0b8b8;
    box-shadow: 5px 5px 15px 5px #a7a4a4;
}

.featuredTitle {
    font-size: 20px;
}

.featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney {
    font-weight: 600;
    font-size: 30px;
}

.featuredMoneyRate {
    margin-left: 5px;
    align-items: center;
    display: flex;
    font-size: 14px;
}

.featuredSub {
    font-size: 15px;
    color: grey;
}

.featuredIcon{
    font-size: 10px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative{
    color: red;
}

